@model IEnumerable<todo_library.Models.ToDo>

<!DOCTYPE html>
<html class="h-full bg-white">

<head>

    <title>Index</title>

</head>

<body class="h-full flex justify-center">

    <div class="flex min-h-full flex-col">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">

            <form class="space-y-6" asp-action="AddToDo">

                <div class="mt-2">
                    <input name="Title" required class="block w-full rounded-md border-0 px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
                </div>

            </form>

            @{
                if (Model == null)
                {
                    <p>No ToDos where found!</p>
                }

                else
                {
                    <div class="flex justify-center overflow-y-auto mt-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ToDos</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>

                                        @if (item.IsDone)
                                        {
                                            <td>
                                                <form asp-action="ChangeIsDone" asp-route-id="@item.Id">
                                                    <input type="checkbox" class="checkbox" checked="checked" onchange="this.form.submit()" />
                                                </form>
                                            </td>
                                            <td>
                                                <s>@item.Title</s>
                                            </td>
                                        }

                                        else
                                        {
                                            <td>
                                                <form asp-action="ChangeIsDone" asp-route-id="@item.Id">
                                                    <input type="checkbox" class="checkbox" onchange="this.form.submit()" />
                                                </form>
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                        }

                                        <td>
                                            <div class="flex grid grid-cols-2 gap-3">

                                                <a asp-action="ChangeIsDone" asp-route-id="@item.Id">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>

                                                <a asp-action="DeleteToDo" asp-route-id="@item.Id">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }

                        </table>
                    </div>

                }
            }

        </div>

</body>
</html>