@model IEnumerable<todo_library.Models.ToDo>

<!DOCTYPE html>
<html>
<head>
    <title>ToDos</title>
</head>
<body>
    <section class="text-end mt-3 mb-3">
        <a asp-controller="Auth" asp-action="Logout" class="btn btn-secondary " role="button">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </section>

    <section>
        <form asp-action="AddToDo" class="mb-4">
            <div class="input-group mb-3">
                <input name="Title" type="text" class="form-control" placeholder="Add your todos">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </section>

    @if (!Model.Any())
    {

        <p class="text-ce">No tasks to do...</p>

    }
    else
    {
        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Tasks</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.IsDone)
                            {
                                <th scope="row">
                                    <form asp-action="ChangeIsDone" asp-route-id="@item.Id">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" onchange="this.form.submit()" checked>
                                        </div>
                                    </form>
                                </th>
                                <td>
                                    <p><s>@item.Title</s></p>
                                </td>
                            }
                            else
                            {
                                <th scope="row">
                                    <form asp-action="ChangeIsDone" asp-route-id="@item.Id">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" onchange="this.form.submit()">
                                        </div>
                                    </form>
                                </th>
                                <td>
                                    <p>@item.Title</p>
                                </td>
                            }
                            <td>
                                <a href="#editModal" data-bs-toggle="modal" data-bs-target="#editModal">Edit</a> |
                                <a asp-action="DeleteToDo" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

        @foreach (var item in Model)
        {
            <section>
                <div class="modal" id="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Change the title</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <form asp-action="ChangeTitle" asp-route-id="@item.Id">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input name="Title" type="text" class="form-control" value="@item.Title">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </section>
        }
    }
</body>
</html>
